@{
    Layout = null;
}
@using (Ajax.BeginForm("ChangePassword", "User", new { Area = "Lamp" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "divDlg", OnSuccess = "gotoParent" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"> 修改密码 </h4>
    </div>
    <div class="modal-body">
        <div class="portlet">
            <div class="portlet-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <span style=" color:red" id="iuser">@ViewBag.Users</span>
                <div class="form-group">
                    <label style="width:70px;">
                        旧密码：
                    </label>
                    @Html.Password("psdOld")
                    <span style=" color:red" id="oldPsd">@ViewBag.OldPsds</span>
                </div>

                <div class="form-group">
                    <label style="width:70px;">新密码：</label>
                    @Html.Password("psdNew")
                    <span style=" color:red" id="newPsd">@ViewBag.NewPsds</span>
                </div>

                <div class="form-group">
                    <label style="width:70px;">确认密码：</label>
                    @Html.Password("psdNew1")
                    <span style=" color:red" id="new1Psd">@ViewBag.RePsds</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn green">保存</button>
    </div>
}
